@import "tailwindcss";

@theme {
  --color-netflix-black: #141414;
  --color-netflix-red: #E50914;
  --color-netflix-darkGray: #181818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  color: white;
  font-family: 'Netflix Sans', 'Helvetica Neue', Arial, sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #141414;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
